body {
    margin: 0;
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-style: italic;
    font-size: 30px;
}

::selection {
    background-color: #f0f0f0;
    color: #0f0f0f;
}

ul {
    z-index: 2;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 12px 0;
    -webkit-border-radius: 12px 0;
    -moz-border-radius: 12px 0;
    -ms-border-radius: 12px 0;
    -o-border-radius: 12px 0;
    margin: 3px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

ul > li:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/* Background Colors list */
#blkBg {
    background-color: #0f0f0f;
}
#witBg {
    background-color: #f0f0f0;
}
#randBg {
    background: linear-gradient(90deg, #f0f0f0, #2a2afa);
}

aside {
    text-align: center;
    background-color: #0d6efd;
    border-radius: 12px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    z-index: 1;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    -webkit-border-radius: 12px 0;
    -moz-border-radius: 12px 0;
    -ms-border-radius: 12px 0;
    -o-border-radius: 12px 0;
}

aside > ol > li {
    position: relative;
    right: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
    list-style: none;
}

aside > ol > li:hover {
    right: 40px;
}

/* Main */
main {
    height: auto;
    width: auto;
    background-color: #0f0f0f;
    color: #f0f0f0;
    opacity: 0.9;
    border-radius: 200px 0 100px 0;
    -webkit-border-radius: 200px 0 100px 0;
    -moz-border-radius: 200px 0 100px 0;
    -ms-border-radius: 200px 0 100px 0;
    -o-border-radius: 200px 0 100px 0;
}

header {
    font-size: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
    margin-top: 10px;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: auto;
    margin: auto;
}

#contact {
    width: 190px !important;
    cursor: pointer;
}

img {
    cursor: pointer;
    border: 7px #f0f0f0 solid;
    border-radius: 30px 0 30px 0;
    -webkit-border-radius: 30px 0 30px 0;
    -moz-border-radius: 30px 0 30px 0;
    -ms-border-radius: 30px 0 30px 0;
    -o-border-radius: 30px 0 30px 0;
}