@use './colors.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $background;
    background: linear-gradient(320deg, $background, $backgroundSecond);
    font-weight: bold;
}

::selection {
    color: white;
    background-color: purple;
}